body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.desktop {
  background: url('assets/bg.jpg') no-repeat center center/cover;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

.icon {
  width: 80px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.icon p {
  color: white;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.6);
}

.icon img {
  width: 79px;
  height: 64px;
}

.modal {
  position: fixed;
  top: 100px;
  left: 100px;
  width: 300px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 20px;
  display: none;
  z-index: 1000;
}

.modal-content button {
  margin-top: 10px;
}

.fog-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3); /* Adjust opacity here */
  backdrop-filter: blur(2px); /* adds soft blur */
  z-index: 1;
  pointer-events: none;
}
